/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

.page-title {
    color: #D40000;
    font-size: x-large;
}

.my-image {
    width: auto;
    height: auto;
}

.fix-image {
    height: 64px;
    width: auto;
}

.profil-image {
    height: 64px;
    width: 64px;
}

.icon-image {
    height: 1em;
    width: 1em;
}

.my-list {
    list-style:none;
}

.gold {
    background-color: gold;
    color: #FF0000;
    border: 1px solid #EEE;
}

.questionStyle {
    background-color: #ffff88;
}

.answerStyle {
    background-color: #eeeeff;
}

.badgeSize {
    height: 180px;
}

.coms {
    border-top: 2px dotted;
}